<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="shortcut icon" href="static/img/header/logo.ico" type="image/x-icon">
    <title>Event</title>
    <script type="text/javascript" src={% static "js/index.js" %}></script>
    
</head>
<body>

<header>
    <div class="wrapper_header">
        
        <a class="logo" href="http://127.0.0.1:8000/"></a>
        <input placeholder="Поиск" class=search type="text">
        <a class="create_event"></a>
        <a class="message"></a>
        <a class="favorites"></a>
        <button onclick="document.location=vhod.html''" class="login">Войти</button>
    </div>

</header>

<!-- <div class="wrapper_body" -->
    <div class="slides">
        {% for i in carousel_object %}
        <div class="carousel_name">{{i.name}}</div>
        <!-- <div class="carousel_about">{{i.about}}</div> -->
        <img class = "carousel" src = "{{ MEDIA_URL }}{{ i.img.url }}" >
        {% endfor %}

    </div>
    <button id = "arrow_carousel_left" class="arrow_left"></button>
    <button id = "arrow_carousel_right" class="arrow_right"></button>
<!-- </div> -->
<script type="text/javascript" src={% static "js/index.js" %}></script>
</body>
</html>