<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="shortcut icon" href="static/img/ico/logo.ico" type="image/x-icon">
    <title>Event</title>

</head>
<body>
<header>
    <input placeholder="Поиск" class=search type="text">
    <button onclick="document.location=''" class="login">Войти</button>
    <a class="favorites"></a>
    <a class="message"></a>
    <a class="create_event"></a>
    
                        <!-- Временный адрес -->
<a class="logo" href="http://127.0.0.1:8000/"></a>
</header>


</body>
</html>
